[submodule "diet/app"]
	path = diet/app
	url = https://github.com/opfernandez/diet_classifier_pytorch.git
[submodule "homelai/app"]
	path = homelai/app
	url = https://github.com/grupo-avispa/homelai-rpi-shs.git